div.cube {
  width: 60px;
  height: 60px;
  border-radius: 10px;
  background: #707070;
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
  margin-bottom: 18px;
}

div.cube:hover{
  cursor: pointer;
}

p.value {
  position: relative;
  top: -5px;
  color: #000000;
  text-align: center;
  font-family: Karla;
  font-size: 21px;
  font-weight: 700;
}
